<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.dao.RoomDao">
    <resultMap type="com.cy.entity.Room" id="roomRM">
        <id column="id" property="id"/>
        <result column="room_id" property="roomId"/>
        <result column="room_property" property="roomProperty"/>
        <result column="person_number" property="personNumber"/>
        <result column="room_statement" property="roomStatement"/>
        <result column="customer_name" property="customerName"/>
        <result column="room_tel" property="roomTel"/>
        <result column="room_price" property="roomPrice"/>


    </resultMap>
    <select id="findPageObjects"
            resultType="com.cy.entity.Room" resultMap="roomRM">
        select *
        from room
        <include refid="queryWhereId"/>
        order by room_id desc
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getRowCount"
            resultType="int" >
        select count(*)
        from room
        <include refid="queryWhereId"/>
    </select>
    <delete id="deleteObjects">
        delete from room where id in <foreach collection="ids" open="(" close=")" separator="," item="id">
        #{id}
    </foreach>
    </delete>
    <!-- 借助此元素对共性数据进行提取 -->
    <sql id="queryWhereId">
        <where>
            <if test="username!=null and username!=''">
                username like concat("%",#{username},"%")
            </if>
        </where>
    </sql>
    <!--搜索功能 -->
    <select id="roomSelect" resultType="com.cy.entity.Room" resultMap="roomRM">
        select * from room <where> 1=1
        <if test="roomId!=null and roomId!='' ">and room_id=#{roomId} </if>
        <if test="roomProperty!=null and roomProperty!=''">and room_property=#{roomProperty} </if>
        <if test="roomStatement!=null and roomStatement!=''">and room_statement=#{roomStatement} </if>
        <if test="customerName!=null and customerName!=''">and customer_name=#{customerName} </if>
        <if test="roomPricemin!=null and roomPricemin!=''">and room_price>=#{roomPricemin} </if>
        <if test="roomPricemax!=null and roomPricemax!=''">and room_price<![CDATA[<]]>=#{roomPricemax} </if>
    </where>
    </select>

</mapper>
